.header{
    width: 100%;
    float: left;
    height: 70px;
    background-color: red;
}

.sidebar{
    width: 25%;
    float: left;
    height: 700px;
    background-color: sandybrown;
}

.content{
    width: 75%;
    float: left;
    background-color: turquoise;
    height: 700px;
}

.footer{
    width: 100%;
    float: left;
    height: 40px;
    background-color: brown;
}
.box{
    width: 200px;
    height: 200px;
    background-color: darkgray;
    margin: 10px;
    float: left;
}